
TileCompiler/example1/atlasexample.atlas.png

TileCompiler/example1/atlasexample.island1.invisible.png

TileCompiler/example1/atlasexample.island1.prev.png

TileCompiler/example1/atlasexample.island1.visible.png

TileCompiler/example1/atlasexample.mainland.invisible.png

TileCompiler/example1/atlasexample.mainland.prev.png

TileCompiler/example1/atlasexample.mainland.visible.png
